# Maven / Build
target/
.mvn/wrapper/maven-wrapper.jar
!*/src/main/*/target/
!*/src/test/*/target/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!*/src/main/*/build/
!*/src/test/*/build/

# Tomcat / Servidor embebido
work/
tomcat.*

# VS Code
.vscode/

# Varios / Logs / Locales
*.log